button {
    height: 200px;
    width: 200px;
    font-size: 50px !important;
    border-radius: 7px !important;
}

.idle-button {
    background-color: #e2e7ee !important;

    &.xplayer:hover {
        background-color: #c4e5fd !important;
    }
    
    &.oplayer:hover {
        background-color: #ffc5d4 !important;
    }
}